/*This Custom CSS file has not been structured in any particular order. 
Modify this file to your hearts content and make your website look awesome!*/


body{
	background-color: #ebebeb;
	padding-top: 80px;
}

/*Home*/
.full-page-bg {
  position: absolute;
  margin-top: -80px;
  padding-bottom: 100px;
  width:100%;
  min-height: 100vh;
  background: url('../img/common/homepage_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*Cards*/
.card{border: none; background-color: transparent;}

/*carousel button control*/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/*Navbar Rules*/
img.nav-bar-img{
	margin-right: 10px;
}

.navbar{
	background-color: #000;

}

a.navbar-brand{
	font-family:'Montserrat', Sans-Serif;
	font-size: 
}

/*Floating Nav*/
.floating-nav{
	position: fixed;
	margin-top: 50px;
	border-left: 1px solid #727272;
}

	a.float-nav-link{
		font-family: 'Lato', Sans-Serif;
		color: #595959;
		font-size: 14px;
		font-weight: 600;
		text-align: left;
	}

/*Image Rules*/
img{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}

/*Font Override Rules*/
h1, h2, h3, h4, h5, h6 {
	font-family:'Montserrat', Sans-Serif;
	margin-bottom: 5px;
}
	h1.welcome-special{
		font-size: 90px;
	}

	h2.welcome-special-sub{
		font-family: 'Lato', Sans-Serif;
		font-size: 20px;
	}

	h3{
		text-transform: uppercase;
		color: #ee2050;
		letter-spacing: -0.5px;
	}

	h4{
		text-transform: uppercase;
		color: black;
		font-size: medium;
	}

	h5{
		text-transform: uppercase;
		color: #a49727;
		font-size: 22px;
	}
	.content p{
		font-size:14px;
		line-height: 21px;
	}


p, li, span, a {
    font-family: 'Karla', Sans-Serif;
    font-weight: 300;
}

	p{
		color: #494949;
		line-height: 30px;
		margin-bottom: 25px;
	}

span.img-caption{
	display: block;
	font-size: 12px;
	font-weight: 500;
	padding: 10px 0px 10px 0px;
}

/*Container/class etc Override Rules*/
.welcome-message{
	margin-top: 200px;
}

.welcome-button-container{
	margin-top: 20px;
}

.welcome-button{
	background-color: transparent;
	border-radius: 0px 0px 0px 0px;
	border: 3px solid #000;
	font-family:'Montserrat', Sans-Serif;
	font-size: 15px;
	color: #000;
	text-transform: uppercase;
}

.welcome-button:hover{
	background-color: #000;
	border-color: #000;
}

.master-heading{
	padding-top: 50px;	
}

.section-heading{
	padding-top: 40px;	
}

.slide-show{
	padding: 30px 0px 50px 0px;
}


/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		color: #aaa;
		position: relative;
		margin: 0 0 1.5em 0;
		text-transform: uppercase;
	}

	header h2 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
		line-height: 1.5em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
		line-height: 1.5em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
		line-height: 1.5em;
	}

	header.major {
		margin: 0 0 0 0;
	}

		header.major h2 {
			font-size: 3em;
		}

		header.major h2, header.major h3, header.major h4, header.major h5, header.major h6 {
			display: inline-block;
			margin: 0 0 0;
		}

		header.major p {
			font-size: 1.7em;
			margin-bottom: 0;
		}

	@media screen and (max-width: 1280px) {

		header.major {
			margin-bottom: 2em;
		}

			header.major h2 {
				font-size: 2.5em;
			}

			header.major p {
				font-size: 1.3em;
			}

	}

	@media screen and (max-width: 980px) {

		header.major h2 {
			font-size: 2em;
		}

		header.major p {
			font-size: 1.1em;
		}

	}

	@media screen and (max-width: 736px) {

		header.major {
			margin-bottom: 2em;
		}

	}

	@media screen and (max-width: 480px) {

		header.major h2 {
			font-size: 1.75em;
		}

	}


/*Footer*/
.footer{
	margin-top: 50px;
	padding-top: 30px;
	width: 100%;
	min-height: 100px;
	background-color: #989898;
	border-top: 1px solid #727272;
}

/* Wrapper */

	body.is-touch .wrapper.style3 {
		background-attachment: scroll;
	}

	.wrapper {
		padding: 6em 0 4em 0;
	}

		.wrapper > .inner {
			margin: 0 auto;
			width: 60em;
		}

		.wrapper.style2 {
			background-color: #f6f6f6;
		}

		.wrapper.style3 {
			background-attachment: fixed;
			background-image: url("images/overlay.png"), url("../../images/banner.jpg");
			background-position: center center;
			background-size: cover;
		}

			.wrapper.style3 header.major {
				margin-bottom: 3em;
			}

				.wrapper.style3 header.major h2 {
					color: #ffffff;
				}

		@media screen  {
            .wrapper header.major {
				margin-bottom: 1em;
			}
            
            .wrapper {
				padding: 1em 0 .1em 0;
			}
					
		}

		@media screen and (max-width: 980px) {

			.wrapper {
				padding: 2em 0 .1em 0;
			}

		}

		@media screen and (max-width: 736px) {

			.wrapper {
				padding: 2em 0 .1em 0;
			}

		}

		@media screen and (max-width: 480px) {

			.wrapper {
				padding: 2em 0 1em 0;
			}

		}

.box {
		position: relative;
        background-color: white;
        padding: 1em;
	}

/* Image */

	.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 4px;
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.rounded {
			border-radius: 100%;
		}

			.image.rounded img {
				border: solid 0.5em rgba(144, 144, 144, 0.25);
				border-radius: 100%;
			}

		.image.captioned {
			border-radius: 0;
			margin-bottom: 4em;
		}

			.image.captioned img {
				border-radius: 0;
			}

			.image.captioned h3 {
				background-color: #fff;
				box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.15);
				display: block;
				padding: 2em 1em;
			}

			@media screen and (max-width: 736px) {

				.image.captioned {
					margin-bottom: 2em;
				}

					.image.captioned h3 {
						padding: 1em;
					}

			}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

/* Feature */

	.feature-grid {
		position: relative;
        background-color: white;
        padding: 1em;
	}

		.feature-grid:after {
			clear: both;
			content: '';
			display: block;
		}

		.feature-grid .feature {
			display: inline-block;
			float: left;
			margin-bottom: 2em;
			width: 50%;
		}

			.feature-grid .feature .content {
				width: 60%;
			}

			.feature-grid .feature .image {
				width: 30%;
			}

				.feature-grid .feature .image img {
					display: inline;
					max-width: 100%;
				}

			.feature-grid .feature:nth-child(odd) .content, .feature-grid .feature:nth-child(odd) .image {
				float: right;
				margin-right: 5%;
				text-align: right;
			}

			.feature-grid .feature:nth-child(even) .content, .feature-grid .feature:nth-child(even) .image {
				float: left;
				margin-left: 5%;
				text-align: left;
			}

		@media screen and (max-width: 1280px) {

			.feature-grid .feature {
				margin-bottom: 2em;
			}

		}

		@media screen and (max-width: 980px) {

			.feature-grid .feature {
				display: block;
				width: 100%;
			}

				.feature-grid .feature .content {
					width: 65%;
				}

				.feature-grid .feature .image {
					margin-left: 0 !important;
					margin-right: 0 !important;
				}

		}

		@media screen and (max-width: 736px) {

			.feature-grid .feature {
				margin-bottom: 1em;
			}

		}

		@media screen and (max-width: 480px) {

			.feature-grid .feature .content,
			.feature-grid .feature .image {
				display: block;
				margin-left: 0 !important;
				margin-right: 0 !important;
				text-align: center !important;
				width: 100%;
			}

			.feature-grid .feature .image {
				margin-bottom: 1em;
			}

		}

/* Portfolio Page Structure */

.flex, .portfolio-section, .portfolio-section .portfolio-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-section:last-child .portfolio-text {
  border-bottom: none;
}

.portfolio-section .portfolio-image, .portfolio-section .portfolio-text {
  height: 50vh;
  width: 50%;
  -webkit-transition: .7s all ease;
  transition: .7s all ease;
}

@media screen and (max-width: 768px) {
  .portfolio-section .portfolio-image, .portfolio-section .portfolio-text {
    height: inherit;
    padding: 2em 0;
    width: 100%;
  }
}

.portfolio-section .portfolio-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .portfolio-section .portfolio-image {
    height: 400px;
    padding: 0;
  }
}

.portfolio-section .probootstrap-text {
  border-bottom: 1px solid #f2f2f2;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.portfolio-section .portfolio-text > .probootstrap-inner {
  -ms-flex-item-align: center;
  align-self: center;
  max-width: 500px;
  padding: 30px;
}

.portfolio-section:hover .portfolio-image, .portfolio-section:focus .portfolio-image {
  width: 48%;
}

@media screen and (max-width: 750px) {
  .portfolio-section:hover .portfolio-image, .portfolio-section:focus .portfolio-image {
    width: 100%;
  }
}

.portfolio-section:hover .portfolio-text, .portfolio-section:focus .portfolio-text {
  width: 95%;
}

@media screen and (max-width: 750px) {
  .portfolio-section:hover .portfolio-text, .portfolio-section:focus .portfolio-text {
    width: 100%;
  }
}

.portfolio-section.portfolio-reverse .portfolio-image {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

@media screen and (max-width: 750px) {
  .portfolio-section.portfolio-reverse .portfolio-image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.portfolio-section.portfolio-reverse .portfolio-text {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media screen and (max-width: 750px) {
  .portfolio-section.portfolio-reverse .portfolio-text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

.portfolio-section.probootstrap-no-hover .portfolio-image, .portfolio-section.probootstrap-no-hover .portfolio-text {
  width: 50% !important;
}

@media screen and (max-width: 750px) {
  .portfolio-section.probootstrap-no-hover .portfolio-image, .portfolio-section.probootstrap-no-hover .portfolio-text {
    width: 100% !important;
  }
}

/* Button */

.btn-primary  {
    background-color: #ee2050; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-primary:hover, .btn-primary:active  {
    background-color: #8c0c2e; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}